.content.hide {
	display: none;
}

/**
 * Loading styles
 *
 */
.pageLoading {
	position: absolute;
	z-index: 2;
	top: 70px;
	left: 0px;
	width: 100%;
	background:#fff;
	height:40px;
	line-height:40px;
	padding:0px 10px;
	font-weight:bold;
	font-size:14px;
	color:#888;
	text-align: center;
}
.loadingIcon {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
.pageLoading .loadingIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
.loadingDiv {
	width: 40px; //120px;
	margin: 0 auto;
}
.pageloading.hide {
	display: none;
}

/**
 * iScroll wrapper styles
 *
 */
.wrapper {
	position: absolute;
	z-index: 1;
	top: 70px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	overflow: auto;
}

.wrapper .table {
	margin-bottom: 0px;
}

/**
 *
 * Pull down styles
 *
 */
.pullDown, .pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:0px 10px;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
.pullDown {
	border-bottom: 1px solid #ccc;
}
.pullUp {
	border-top: 1px solid #ccc;
}
.pullDown.hide, .pullUp.hide {
	display: none;
}
.pullDiv {
	width: 40px; //200px;
	margin: 0 auto;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
.pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}