#navmenu {
    -webkit-box-sizing: border-box;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #000;
    width: 500px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999888;
}

.navmenuanimation {
    -webkit-transition: left .5s ease-in;
    position: absolute;
    top: 0px;
    z-index: 999888;
    display: block;
}

#myTaskSection .table td {
    vertical-align: inherit;
}
