<div class="navbar navbar-fixed-top">
	<a href="#news/detail/<%= id %>" id="btnBackNews" class="pull-left"><button type="button" class="btn btn-default navbar-btn"><img src="img/glyphicons_free/glyphicons/png/glyphicons_210_left_arrow.png"/></button></a>
  
	<a href="#chatterNewPost/news/<%= id %>" id="btnNewPost" class="pull-right"><button type="button" class="btn btn-default navbar-btn"><img src="img/glyphicons_free/glyphicons/png/glyphicons_150_edit.png"/></button></a>
	
	<h4 align="center">News Feed</h4>
</div>
<div id="feedItemListWrapper" class="content wrapper hide">
	<div class="scroller">
		<div class="pullDown">
			<div class="pullDiv"><span class="pullDownIcon"></span><span class="pullDownLabel"></span></div>
		</div>
		<table class="table table-hover">
			<tbody>
			</tbody>
		</table>
		<div class="pullUp">
			<div class="pullDiv"><span class="pullUpIcon"></span><span class="pullUpLabel"></span></div>
		</div>
	</div>
</div>