
<% if(first==1){ 
%>

    
<div id="newFeedDialog" class="modal" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('.modal').hide();">&times;</button>
    <h3>New a Feed</h3>
  </div>
  <div class="modal-body">

   <input id="feedtext" type="text" value="" />
  <div></div>
<div class="btn-group">
<button id="btnselectChoice" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" onclick="chatterOperate.showGroupChoicePanel(this)">Action <span class="caret"></span></button>
 <select id="selectGroup"><option>1</option></select>   

</div><!-- /btn-group -->
         
  </div>
 
  <div class="modal-footer">
  <button onclick="chatterOperate.getAllGroups()">test</button>
    <a href="#" class="btn" onclick="$('.modal').hide();">Close</a>
    <a href="#" class="btn btn-primary" onclick="chatterOperate.newFeed()">Save changes</a>
  </div>
</div>
     <ul id="selectChoice" class="nav nav-tabs nav-stacked" style="position:absolute;z-index:2900; background-color:White; display:none">
              <li><a href="#">My Fellows</a></li>
              <li><a href="#">A Group</a></li>
            </ul>
<% 
}
for (var i=0;i<=data.items.length-1;i++){ 

    var actor = data.items[i].actor;
    var companyName = actor.companyName;
    var name = actor.name;
    var comments =data.items[i].comments;

    var id =data.items[i].id;
    var bodytext =data.items[i].body.text;
    var imgurl=actor.photo.standardEmailPhotoUrl;
    var fcdt=new Date(data.items[i].createdDate).format("yyyy-MM-dd hh:mm:ss");  
    var likes=data.items[i].likes;   

    var likeimg="like.png";
   for (var k=0;k<=likes.likes.length-1;k++){ 

   if (user.attributes.id==likes.likes[k].user.id)
   {
     likeimg="unlike.png";
   }
   }
   var preamble=data.items[i].preamble ;


   var groupimg=null;
 if(preamble.messageSegments.length>1)
 {
   for(var k=0;k<=chatterOperate.groups.groups.length-1;k++)
   {
   if(chatterOperate.groups.groups[k].id==preamble.messageSegments[0].reference.id)
   {
   groupimg=chatterOperate.groups.groups[k].photo.standardEmailPhotoUrl;
   break;

   }
   }

   }

%>
<div class="well"  cid="<%=id%>">
<div class="panel">
<div id="box1" style=" width:50px;"  >
<img id="myimg" src="<%=imgurl%>"   class="img-rounded" style="padding: 2px; height:30px; width:30px" /></div>
  <div id="box2" style="-webkit-box-flex:1; ">
   <form class="form-search">
     <% if(newgroup){ %>
          <img myid="groupimg" src="<%=newgroup.img%>"    groupid="<%=newgroup.id%>" />
          <%}%>

  <% if( groupimg!=null){ %>
          <img myid="groupimg" src="<%=groupimg%>"    groupid="<%=preamble.messageSegments[0].reference.id%>"/>
          <%}%>
<span style="font-size:1em; font-weight: bold; color: #1574B9;" id="myname"> <% if(newgroup){%><%=newgroup.name%> - <%}%><%=data.items[i].preamble.text%></span>
  <div id="mytext"><%=bodytext%></div>
 
</form>
<form class="form-search">
<a  href="javascript:void(0)" ><i class="icon-comment-alt icon-2x" onclick="chatterOperate.addonecomment(this)"></i></a>&nbsp;&nbsp;<a  href="javascript:void(0)"><img src="img/<%=likeimg%>" onclick="chatterOperate.dolike(this,'<%=id%>')"/></a>
</form>
  
  <!--add comment !-->
<div myid="addcommentDIV" style="display:none">
  <div ><input myid="commentinput" type="text" value="" /></div>
  <div> <button class="btn" data-dismiss="modal" aria-hidden="true"  onclick="chatterOperate.hideAddonecomment(this)">Close</button>
    <button class="btn btn-primary" onclick="chatterOperate.newAcomment(this,'<%=id%>')">Save changes</button>
    </div>
    </div>

    <!--end comment !-->
   <!-- like-->
   <% if(likes.total>0){ %>
    <ul myid="commentlike" class="nav nav-list">
    <%for (var k=0;k<=likes.likes.length-1;k++){ 
   var  cname=likes.likes[k].user.name;
   if (user.attributes.id==likes.likes[k].user.id)
   {
   cname="you";
   }
    %>
    <li lcid="<%=likes.likes[k].user.id%>" likeid="<%=likes.likes[k].id%>"><a href="javascript:void(0)"><img src="img/like.png" /> <%=cname%></a></li>
    <%} %>
    </ul>
    <%} %>
<!--            endlike-->

    <%
   
  var  currentPageUrl= comments.currentPageUrl; 
  var nextPageUrl=comments.nextPageUrl;
  var  total=comments.total;
    for(var j=0;j<=comments.comments.length-1;j++)
    { 

    var text=comments.comments[j].body.text;
    
    var scdt=new Date(comments.comments[j].createdDate).format("yyyy-MM-dd hh:mm:ss");

    var clike=null;
    try
    {
    clike=comments.comments[j].likes;
    }catch(e)
    {}

    likeimg="like.png";
    if ((clike!=null)&&(clike.likes.length>0)){ 
      _.each( clike.likes, function(n){
        if (user.attributes.id==n.user.id)
        {
         likeimg="unlike.png";
        }
  
    });
    }
    %>
  <div class="well" myid="commentpanel">
<div><%=text%></div>
 <span ccid="<%=comments.comments[j].id%>" style="color: #1574B9;"><%=comments.comments[j].user.name+" "+scdt%></span>
 <div><a href="javascript:void(0)"><img src="img/<%=likeimg%>"  onclick="chatterOperate.commentlike(this,'<%=comments.comments[j].id%>')"/></a></div>
  <% if ((clike!=null)&&(clike.likes.length>0)){ 
  %>
 
  <ul myid="clikes" class="nav nav-list">
  <% 
  _.each( clike.likes, function(n){
  var lname=n.user.name;
  if (user.attributes.id==n.user.id)
   {
   lname="you";
   }



%>
        <li clcid="<%=n.user.id%>" clikeid="<%=n.id%>"><a href="javascript:void(0)"><img src="img/like.png"/> <%=lname%></a></li>
        <%}); %>
        </ul>
      
       
          <%} %>
  </div>


     

  <%} %>
  </div>

  <div style="width:100px;color:Gray">
  <%=fcdt%>
 </div>
  </div>
 </div>
 <%} %>